body {
  background-color: #dadada;
  font-size: 24px;

}

.container{
  width: 100%;
  background-color: #f4d6d9;
  display: inline-block;
  margin: 0 auto;
  text-align: center;

}

.header {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 5%;
}

.preview {
  font-size: 24px;
  width: 80%;
  padding: 1%;
  height: 200px;
  width: 25%;


}

.preview h1 {
  font-size:100%;
  top: 5%;
  left: 5%;
  text-align: left;
}

.baku {
  background-image: url(../images/baku.jpg);
}
.london {
  background-image: url(../images/london.png);
}
.madrid{
  background-image: url(../images/madrid.jpg);
}
.rome{
  background-image: url(../images/rome.jpg);
}



/* meadia queries */

@media screen and (min-width: 350px) {
  .preview {
    height: 200px;
    width: 100%;
    background-size: cover;
    display: inline-block;
    margin: 1%;
  }
}

@media screen and (min-width: 575px) {
  .preview {
    height: 200px;
    width: 35%;
    background-size: cover;
    display: inline-block;
    margin: 1%;
  }
  .container{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    text-align: center;
  }
}


@media screen and (min-width: 900px) {
  .preview{
    width: 100%;
    display: inline-block;
    background-size: cover;
    width: 200px;
    margin: auto;


  }
  .container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
