body {
  background-color: #dadada;
  font-size: 24px;

}

.container{
  width: 100%;
  background-color: #f4d6d9;
  display: block;
}

.header {
  align-items: center;
  position: sticky;
}

.preview
  h1 {
  osition: absolute;
  font-size:100%;
  top: 5%;
  left: 5%;
}

.preview baku {
  font-size: 24px;
  margin: auto;
  background-image: image(images/baku.jpg);
  width: 80%;
  position: sticky;
}

.preview london {
  font-size: 24px;
  margin: auto;
  background-image: image(images/london.png);
  width: 80%;
  position: sticky;
}

.preview madrid{
  font-size: 24px;
  margin: auto;
  background-image: image(images/madrid.jpg);
  width: 80%;
  position: sticky;

}
.preview rome{
  font-size: 24px;
  margin: auto;
  background-image: image(images/rome.jpg);
  width: 80%;
  position: sticky;
}





@@media screen and (min width: 575px) {
  .preview {
    display: block;
    margin: auto;
  }
}

@@media screen and (min-width: 991px) {
  .preview{
    display: inline-block;
    margin: auto;
  }
}
